
			

.container
{
    width: 1020px;
    height:100vh;
    margin: 0px auto;
    overflow-x: hidden;
}

.bodyPosAdj
{
    position: relative;
    top:5px;
    right:13px;
}  

#topDecBar
{
	width: 10000px;
	margin-left: 2px;
	height: 20px;
	position: relative;
	left :91px;
}


#errorSignUpMessage
{
    width: 100%; 
    text-align: center;   
    margin-bottom: 10px;  
    margin-top: 50px;
    display:none;        
}

#passwordConfirm
{
    width: 100%;
    float:left;
}


#signUpForm
{
    display: center;
}

#signupDiv
{
}

#SignupLabel
{
    margin-left: 5px;
    float: left;
}
